<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-toggle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/requests.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                <tr class="table-warning">
                    <td align="left">Led</td>
                    <td align="center"></td>
                    <td align="right">
                        <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" onchange="this.checked ? sendOnRequest() : sendOffRequest()">
                    </td>
                </tr>
                <tr class="table-active">
                    <td align="left">Temperature</td>
                    <td id='temperature' align="center">0</td>
                    <td align="right">
                        <input type="submit" class="btn btn-success" value='Refresh' onclick="sendTemperatureRequest()">
                    </td>
                </tr>
                <tr class="table-success">
                    <td align="left">Humidity</td>
                    <td id='humidity' align="center">0</td>
                    <td align="right">
                        <input type="submit" class="btn btn-success" value='Refresh' onclick="sendHumidityRequest()">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-success text-center">
                PAST CANVAS HERE
            </h3>
        </div>
    </div>
</div>
</body>
</html>